name: CI

on: [push, pull_request]

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Use Node.js
              uses: actions/setup-node@v5
              with:
                  node-version: "24"
                  cache: "npm"

            - run: npm ci

            - run: npm run prettier:check

            - run: npm run tsc

            - run: npm run test:run
